*{
    margin:0;
    padding:0;
}
body{
    background:#000;
    font-family:Georgia;
    font-size: 34px;
    font-style: italic;
    letter-spacing:-1px;
    width:15400px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}
.nav{
    position:fixed;
    list-style:none;
}
.section{
    margin:0;
    bottom:0px;
    width:2200px;
    float:left;
    height:100%;
    text-shadow:1px 1px 2px #f0f0f0;
}
.section h2{

}
.section p{
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.section1{
        background:url(../images/pyramids2.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
        background-size:contain;
}
.section3{
        background:url(../images/port_town.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
        background-size:contain;
}
.section4{
        background:url(../images/desert_english.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
        background-size:contain;
}
.section5{
        background:url(../images/caravan.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
        background-size:contain;
}
.section6{
        background:url(../images/desert_sunset.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
        background-size:contain;
}
.section7{
        background:url(../images/pyramids2.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
        background-size:contain;
}

.black{
    color:#fff;

}

.section ul{
    list-style:none;
    margin-left: 2%;
    margin-top: 50%;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#f0f0f0;
}
.black ul li a:hover{
    text-decoration:none;
    color:#fff;
}